<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rocky.appstockdata.application.port.out.CompanyRepository">
    <select id="getCompanyNames" parameterType="string" resultType="string">
        SELECT
            ITEM_NAME
        FROM
            COMPANY
        WHERE 1=1
          AND ITEM_NAME LIKE CONCAT('%',#{companyName},'%')
        LIMIT 5
    </select>

    <select id="getRandomCompanyName" resultType="string">
        SELECT
            ITEM_NAME
        FROM COMPANY
        ORDER BY RAND()
        LIMIT 1
    </select>
</mapper>