<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rocky.appstockdata.application.port.out.StockDealRepository">
    <resultMap id="dailyDealMap" type="com.rocky.appstockdata.domain.DailyDeal">
        <result property="itemCode" column="ITEM_CODE"/>
        <result property="itemName" column="ITEM_NAME"/>
        <result property="closingPrice" column="CLOSING_PRICE"/>
        <result property="startPrice" column="START_PRICE"/>
        <result property="highPrice" column="HIGH_PRICE"/>
        <result property="lowPrice" column="LOW_PRICE"/>
        <result property="tradeVolume" column="TRADE_VOLUME"/>
        <result property="dealDate" column="DEAL_DATE"/>
        <result property="totalAmount" column="TOTAL_AMOUNT"/>
        <result property="kospiKosdaq" column="KOSPI_KOSDAQ"/>
    </resultMap>
    <select id="getDailyDeal" parameterType="com.rocky.appstockdata.domain.dto.DailyDealRequestDTO" resultMap="dailyDealMap">
        SELECT
            ITEM_CODE,
            ITEM_NAME,
            CLOSING_PRICE,
            START_PRICE,
            HIGH_PRICE,
            LOW_PRICE,
            TRADE_VOLUME,
            TRADE_MONEY,
            DEAL_DATE,
            TOTAL_AMOUNT,
            KOSPI_KOSDAQ
        FROM
            DEAL_HISTORY
        WHERE 1=1
          AND ITEM_NAME = #{companyName}
          AND DEAL_DATE BETWEEN STR_TO_DATE(#{startDate}, '%Y-%m-%d') AND STR_TO_DATE(#{endDate}, '%Y-%m-%d')
    </select>

    <select id="countDelta" parameterType="com.rocky.appstockdata.domain.dto.DailyDealRequestDTO" resultType="integer">
        SELECT
            count(*)
        FROM
            DEAL_HISTORY
        WHERE 1=1
          AND ITEM_NAME = #{companyName}
          AND DEAL_DATE <![CDATA[>]]> STR_TO_DATE(#{startDate}, '%Y-%m-%d')
          AND DEAL_DATE <![CDATA[<=]]> STR_TO_DATE(#{endDate}, '%Y-%m-%d')
    </select>

    <select id="getEarliestDate" parameterType="string" resultType="string">
        SELECT
            DEAL_DATE as dealDate
        FROM
            DEAL_HISTORY
        WHERE 1=1
          AND ITEM_NAME = #{companyName}
        LIMIT 1
    </select>

    <select id="getCompanyNames" parameterType="string" resultType="string">
        SELECT
            ITEM_NAME
        FROM
            COMPANY
        WHERE 1=1
          AND ITEM_NAME LIKE CONCAT('%',#{companyName},'%')
        LIMIT 5
    </select>

    <select id="from1MonthsAgoToTodayDeals" resultType="com.rocky.appstockdata.domain.DailyDeal">
        SELECT
            ITEM_CODE as itemCode,
            ITEM_NAME as itemName,
            DEAL_DATE as dealDate,
            CLOSING_PRICE as closingPrice,
            START_PRICE as startPrice,
            HIGH_PRICE as highPrice,
            LOW_PRICE as lowPrice,
            TRADE_VOLUME as tradeVolume,
            TRADE_MONEY as tradeMoney,
            TOTAL_AMOUNT as totalAmount,
            KOSPI_KOSDAQ as kospiKosdaq
        FROM
            DEAL_HISTORY
        WHERE 1=1
          AND DEAL_DATE <![CDATA[>]]> date_format(date_add(now(), interval -1 month), '%Y%m%d')
          AND DEAL_DATE <![CDATA[<=]]> date_format(now(), '%Y%m%d')
    </select>

    <select id="from2MonthsAgoTo1MonthsAgoDeals" resultType="com.rocky.appstockdata.domain.DailyDeal">
        SELECT
            ITEM_CODE as itemCode,
            ITEM_NAME as itemName,
            DEAL_DATE as dealDate,
            CLOSING_PRICE as closingPrice,
            START_PRICE as startPrice,
            HIGH_PRICE as highPrice,
            LOW_PRICE as lowPrice,
            TRADE_VOLUME as tradeVolume,
            TRADE_MONEY as tradeMoney,
            TOTAL_AMOUNT as totalAmount,
            KOSPI_KOSDAQ as kospiKosdaq
        FROM
            DEAL_HISTORY
        WHERE 1=1
          AND DEAL_DATE <![CDATA[>]]> date_format(date_add(now(), interval -2 month), '%Y%m%d')
          AND DEAL_DATE <![CDATA[<=]]> date_format(date_add(now(), interval -1 month), '%Y%m%d')
    </select>

    <select id="from3MonthsAgoToTodayDeals" resultType="com.rocky.appstockdata.domain.DailyDeal">
        SELECT
            ITEM_CODE as itemCode,
            ITEM_NAME as itemName,
            DEAL_DATE as dealDate,
            CLOSING_PRICE as closingPrice,
            START_PRICE as startPrice,
            HIGH_PRICE as highPrice,
            LOW_PRICE as lowPrice,
            TRADE_VOLUME as tradeVolume,
            TRADE_MONEY as tradeMoney,
            TOTAL_AMOUNT as totalAmount,
            KOSPI_KOSDAQ as kospiKosdaq
        FROM
            DEAL_HISTORY
        WHERE 1=1
          AND DEAL_DATE <![CDATA[>]]> date_format(date_add(now(), interval -3 month), '%Y%m%d')
          AND DEAL_DATE <![CDATA[<=]]> date_format(now(), '%Y%m%d')
    </select>

    <select id="from6MonthsAgoTo3MonthsAgoDeals" resultType="com.rocky.appstockdata.domain.DailyDeal">
        SELECT
            ITEM_CODE as itemCode,
            ITEM_NAME as itemName,
            DEAL_DATE as dealDate,
            CLOSING_PRICE as closingPrice,
            START_PRICE as startPrice,
            HIGH_PRICE as highPrice,
            LOW_PRICE as lowPrice,
            TRADE_VOLUME as tradeVolume,
            TRADE_MONEY as tradeMoney,
            TOTAL_AMOUNT as totalAmount,
            KOSPI_KOSDAQ as kospiKosdaq
        FROM
            DEAL_HISTORY
        WHERE 1=1
          AND DEAL_DATE <![CDATA[>]]> date_format(date_add(now(), interval -6 month), '%Y%m%d')
          AND DEAL_DATE <![CDATA[<=]]> date_format(date_add(now(), interval -3 month), '%Y%m%d')
    </select>

    <select id="from9MonthsAgoTo6MonthsAgoDeals" resultType="com.rocky.appstockdata.domain.DailyDeal">
        SELECT
            ITEM_CODE as itemCode,
            ITEM_NAME as itemName,
            DEAL_DATE as dealDate,
            CLOSING_PRICE as closingPrice,
            START_PRICE as startPrice,
            HIGH_PRICE as highPrice,
            LOW_PRICE as lowPrice,
            TRADE_VOLUME as tradeVolume,
            TRADE_MONEY as tradeMoney,
            TOTAL_AMOUNT as totalAmount,
            KOSPI_KOSDAQ as kospiKosdaq
        FROM
            DEAL_HISTORY
        WHERE 1=1
          AND DEAL_DATE <![CDATA[>]]> date_format(date_add(now(), interval -9 month), '%Y%m%d')
          AND DEAL_DATE <![CDATA[<=]]> date_format(date_add(now(), interval -6 month), '%Y%m%d')
    </select>

    <select id="from12MonthsAgoTo9MonthsAgoDeals" resultType="com.rocky.appstockdata.domain.DailyDeal">
        SELECT
            ITEM_CODE as itemCode,
            ITEM_NAME as itemName,
            DEAL_DATE as dealDate,
            CLOSING_PRICE as closingPrice,
            START_PRICE as startPrice,
            HIGH_PRICE as highPrice,
            LOW_PRICE as lowPrice,
            TRADE_VOLUME as tradeVolume,
            TRADE_MONEY as tradeMoney,
            TOTAL_AMOUNT as totalAmount,
            KOSPI_KOSDAQ as kospiKosdaq
        FROM
            DEAL_HISTORY
        WHERE 1=1
          AND DEAL_DATE <![CDATA[>=]]> date_format(date_add(now(), interval -1 year), '%Y%m%d')
          AND DEAL_DATE <![CDATA[<=]]> date_format(date_add(now(), interval -9 month), '%Y%m%d')
    </select>
</mapper>